.AboutPage {
    height: 259px;
}
.gamezone {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --dino-top: 255px;
}

.background {
  width: 600px;
  height: 400px;
  /* background-image: url(./assets/images/forestImage.jpg); */
  background-size: 600px 400px;
  position: absolute;
}

.dino_wrapper {
  width: 60px;
  height: 65px;
  background-size: 60px 65px;
  background-color: black;
  position: absolute;
  top: var(--dino-top);
  left: 55px;
}

.ground {
  width: 600px;
  height: 60px;
  /* background-image: url(./assets/images/grassImage.png); */
  background-size: 600px 60px;
  position: absolute;
  top: 348px;
}

.jump {
  animation: jump 1s linear;
}

@keyframes jump {
  0% {
    top: var(--dino-top);
  }
  25% {
    top: calc(var(--dino-top) - 50px);
  }
  50% {
    top: calc(var(--dino-top) - 100px);
  }
  75% {
    top: calc(var(--dino-top) - 50px);
  }
  100% {
    top: var(--dino-top);
  }
}

.cactus {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 296px;
  left: 580px;
  /* background-image: url(./assets/images/stump.png); */
  background-size: 80px 80px;
  animation: cactusMovement 2s infinite linear;
}

@keyframes cactusMovement {
  0% {
    left: 600px;
  }
  100% {
    left: -20px;
  }
}
@media (max-width: 1100px) {
  .gamezone {
    flex-flow: column;
  }
}
