.DialogPage {
  transition: all 0.5s;
  display: flex;
  border-radius: 7px;
  height: 100%;
  width: 100%;
}

.dino-dialog {
  position: absolute;
  left: -143px;
  top: 100px;
  width: 690px;
}

.dino-dialog-img {
  width: 100%;
}

.bubble-dialog-Img {
  width: 550px;
}

.dialog-bubble {
  position: absolute;
  left: 675px;
  top: 30px;
}

.dialog-nav {
  position: absolute;
  left: 160px;
  top: 40px;
}

.dialog-greeting {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dialog-nav-ul__li {
  padding-top: 25px;
  list-style: none;
  background: url(../../assets/UI/list-marker.svg) no-repeat left 100%;
  padding-left: 65px;
}

.dialog-link {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  transition: all 0.2s;
}

.dialog-link:hover {
  font-size: 22px;
  cursor: pointer;
  opacity: 0.5;
}

.exit-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid #000;
  border-radius: 50%;
  left: 265px;
  transition: all 0.2s;
  background: transparent;
}

.exit-btn:hover {
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 50%;
  opacity: 0.5;
  animation: pulse 1.3s ease-in infinite;
}

.off {
  display: none;
}

.scroll__off {
  overflow: hidden;
}

@keyframes pulse {
  0% {
    transform: scale(1) translateZ(0);
  }
  50% {
    transform: scale(0.75) translateZ(0)
  }
  100% {
    transform: scale(1) translateZ(0)
  }
}

@media (max-width: 1220px) {
  .dino-dialog {
    left: 30px;
    top: 349px;
    width: 450px;
  }
  .bubble-dialog-Img {
    width: 400px;
  }
  .dialog-bubble {
    left: 463px;
    top: 105px;
  }
  .dialog-nav {
    left: 85px;
    top: -10px;
  }
  .dialog-nav-ul {
    list-style: disc;
    width: 160px;
  }
  .dialog-greeting {
    font-size: 35px;
    text-align: center;
  }
  .exit-btn {
    left: 255px;
    top: 30px;
  }
}

@media (max-width: 865px) {
  .dino-dialog {
    left: -60px;
  }
  .dialog-bubble {
    left: 310px;
  }
}

@media (max-width: 715px) {
  .dino-dialog {
    top: 478px;
    width: 243px;
    left: -45px;
  }
  .dialog-bubble {
    left: 100px;
  }
}

@media (max-width: 520px) {
  .dialog-bubble {
    left: 70px;
  }
}
