.header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 20px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}

.logoimg-container {
  background-color: #000000;
  opacity: 0.7;
  border-radius: 50px;
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}

.logo-img {
  filter: invert(1);
  width: 5rem;
  opacity: 0.9;
}

.languages-selector-ul {
  display: flex;
}

.language-selector {
  width: 25px;
  margin: 5px;
  transition: all 0.2s;
}

.language-selector:hover {
  animation: pulse 1.3s ease-in infinite;
  cursor: pointer;
  opacity: 0.7;
}

@keyframes pulse {
  0% {
    transform: scale(1) translateZ(0);
  }
  50% {
    transform: scale(0.75) translateZ(0)
  }
  100% {
    transform: scale(1) translateZ(0)
  }
}
@media (max-width: 710px) {
  .game-name {
    font-size: 3.2rem;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 50%;
  }
  .logo-img {
    width: 5.8rem;
  }
}
