.donatmes {
  display: flex;
  flex-flow: column;
  height: 1080px;
  width: 45%;
  background-color: #1d1d1d;
  z-index: 3;
  position: absolute;
  transition: all 0.3s;
}

.donation-text {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 30px 10px 10px 10px;
}

.donatlink {
  align-self: center;
  width: 109px !important;
  height: 109px !important;
  line-height: 109px !important;
}

.dimg {
  font-size: 2rem !important;
}

.shadow {
  display: none;
  width: 100%;
  height: 1000px;
  background-color: #000000;
  opacity: 0.5;
  z-index: 2;
}