input {
  border: none;
  background: transparent;
  width: 50%;
  height: 100%;
}

input:hover {
  cursor: pointer;
}

.info {
  margin-right: 10px;
  margin-top: 5px;
}

.settings-wrapper {
  margin-top: 2px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.settings-container {
  /* background: transparent;*/
  width: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 10px;
}

.setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.back-image, .color-input-container, .font-size-container {
  width: 75%;
  display: flex;
  justify-content: center;
  background-color: #9e9e9e !important;
  margin: 5px auto 5px auto !important;
  height: 45px !important;
}

.color-input-container, .font-size-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
}

.font-size-container {
  padding: 0 !important;
}

.font-handler {
  width: 50% !important;
  height: 100% !important;
  background-color: transparent;
  border: none;
}

.input-name {
  width: 50%;
  color: #000000;
  margin-right: 5px;
  text-align: center;
}

.font-min {
  border-left: 1px solid black !important;
}

.font-pl {
  border-right: 1px solid black !important;
}

.arrow-back, .arrow-font {
  width: 20px;
  height: 10px;
}

.arrow-back {
  margin-left: 40px;
}

.arrow-font {
  margin-left: 85px;
}

.reset {
  margin-right: 55px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.back-image, .font-handler, .reset, .input-name {
  color: #000000 !important;
  font-family: Montserrat, serif !important;
  font-style: normal;
  font-weight: bold !important;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.changeLngBtn:active, .changeLngBtn:focus{
  outline: none;
}

@media (max-width:502px) {
  .back-name {
    font-size: 13px;
  }
  .arrow-font {
    margin-left: 40px;
  }
}
